@reference './tailwind.css';

:root {
  --base00: var(--color-gray-800);
  --base01: var(--color-gray-700);
  --base02: var(--color-gray-600);
  --base03: var(--color-gray-500);
  --base04: var(--color-gray-400);
  --base05: var(--color-gray-300);
  --base06: var(--color-gray-200);
  --base07: var(--color-gray-100);
  --base08: var(--color-blue-300);
  --base09: var(--color-pink-brand);
  --base0A: var(--color-yellow-brand);
  --base0B: var(--color-green-400);
  --base0C: var(--color-aqua-brand);
  --base0D: var(--color-blue-400);
  --base0E: var(--color-pink-400);
  --base0F: var(--color-gray-200);
}
